@charset "utf-8";
@import url('reset.css');
@import url('common.css');


.main_visual {
    height: calc(100vh - var(--headerHeight));
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}